@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

@keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

.fv-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27.5px;
  margin-top: -27.5px; }

.fv-square {
  background: white;
  width: 15px;
  height: 15px;
  float: left;
  top: -10px;
  margin-right: 5px;
  margin-top: 5px;
  position: relative;
  opacity: 0;
  -webkit-animation: enter 6s infinite;
  animation: enter 6s infinite; }

.fv-loader-enter {
  top: 0px;
  opacity: 1; }

.fv-square:nth-child(1) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }

.fv-square:nth-child(2) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s; }

.fv-square:nth-child(3) {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s; }

.fv-square:nth-child(4) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

.fv-square:nth-child(5) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.fv-square:nth-child(6) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.fv-square:nth-child(8) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.fv-square:nth-child(9) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.fv-loader-clear {
  clear: both; }

.fv-loader-last {
  margin-right: 0; }

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #ccc;
}
.redify {
  color: #E60019;
}
.is-paddingless-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.is-paddingless-tb {
  padding-top: 0 !important;
}
.is-marginless-lr {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.is-marginless-tb {
  margin-top: 0 !important;
}
.has-xs-padding {
  padding: 0.50em !important;
}
.fv-color-black {
  background-color: black;
}
.fv-color-brand {
  background-color: #00A0DD;
}
.keyboard-container {
  max-width: 816px;
  margin: 0 auto;
  /* function row icons */
}
.keyboard-container .keyboard-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.keyboard-container .key {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 3px 2px;
  height: 30px !important;
  margin: 4px;
  letter-spacing: 0.5px;
  color: #3a3a3a;
  background-color: #f7f7f7;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
  white-space: nowrap;
  overflow: hidden;
}
.keyboard-container .key .fa {
  vertical-align: middle !important;
}
.keyboard-container .key span {
  display: inline-block;
  vertical-align: middle;
}
.keyboard-container .key::before {
  display: inline-block;
  vertical-align: middle;
  height: 100% !important;
  content: '';
}
.keyboard-row.thin .keyboard-container .key {
  height: 20px !important;
}
.keyboard-row.bottom-row .keyboard-container .key {
  height: 24px !important;
}
@media (min-width: 640px) {
  .keyboard-container .key {
    height: 48px !important;
  }
  .keyboard-row.thin .keyboard-container .key {
    height: 28px !important;
  }
  .keyboard-row.bottom-row .keyboard-container .key {
    height: 55px !important;
  }
}
.keyboard-container .key.extra-size {
  -webkit-box-flex: 1.25;
      -ms-flex: 1.25;
          flex: 1.25;
}
.keyboard-container .key.extra-size-two {
  -webkit-box-flex: 1.625;
      -ms-flex: 1.625;
          flex: 1.625;
}
.keyboard-container .key.double-size {
  -webkit-box-flex: 2.125;
      -ms-flex: 2.125;
          flex: 2.125;
}
.keyboard-container .key.lowercase {
  font-size: 11px;
  text-transform: lowercase;
}
.keyboard-container .key.function {
  vertical-align: bottom;
  text-align: right;
  font-size: 8px;
}
.keyboard-container .key.lower-right {
  vertical-align: bottom;
  text-align: right;
  padding-right: 5px;
}
.keyboard-container .key.lower-left {
  vertical-align: bottom;
  text-align: left;
  padding-left: 5px;
}
.keyboard-container .key.lower-center {
  vertical-align: bottom;
}
.keyboard-container .key.space-bar {
  -webkit-box-flex: 7.2;
      -ms-flex: 7.2;
          flex: 7.2;
}
.keyboard-container .key .absolute-left,
.keyboard-container .key .absolute-right {
  position: absolute;
  top: 5px;
  font-size: 9px;
}
.keyboard-container .key .absolute-left.icon,
.keyboard-container .key .absolute-right.icon {
  font-size: 12px;
}
.keyboard-container .key .absolute-right {
  right: 5px;
}
.keyboard-container .key .absolute-left {
  left: 5px;
}
.keyboard-container .key .absolute-left.caps-dot {
  top: 3px;
  left: 4px;
}
.keyboard-container .bottom-row .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: justify;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 4px;
}
.keyboard-container .bottom-row .arrows .up-down {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 4px;
  margin-right: 4px;
}
.keyboard-container .bottom-row .arrows .up-down .key {
  margin: 0;
}
.keyboard-container .bottom-row .arrows .up-down .key:first-child {
  -webkit-box-shadow: inset 0 -5px 4px -4px #aaaaaa, inset 0px 1px 1px -1px #fff, 0px 1px 1px 0px #7a7a7a;
          box-shadow: inset 0 -5px 4px -4px #aaaaaa, inset 0px 1px 1px -1px #fff, 0px 1px 1px 0px #7a7a7a;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
.keyboard-container .bottom-row .arrows .up-down .key + .key {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
.keyboard-container .bottom-row .arrows .key {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 7px;
  margin: 0 4px;
  height: 27px !important;
  font-family: "Georgia", sans-serif;
  color: #555;
}
.keyboard-container .fn-row-icon {
  background-size: auto 60%;
  background-position: 50% 45%;
  background-repeat: no-repeat;
}
.keyboard-container .eject,
.keyboard-container .lo-bright,
.keyboard-container .hi-bright,
.keyboard-container .expose,
.keyboard-container .tilez,
.keyboard-container .rewind,
.keyboard-container .ffwd,
.keyboard-container .play-pause,
.keyboard-container .mute,
.keyboard-container .lo-vol,
.keyboard-container .hi-vol,
.keyboard-container .eject {
  background-size: auto 60%;
  background-position: 50% 45%;
  background-repeat: no-repeat;
}
.keyboard-container .eject {
  background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-01_1.svg);
}
.keyboard-container .lo-bright {
  background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-10_1.svg);
}
.keyboard-container .hi-bright {
  background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-09_1.svg);
}
.keyboard-container .expose {
  background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-08_1.svg);
}
.keyboard-container .tilez {
  background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-07_1.svg);
}
.keyboard-container .rewind {
  background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-06_1.svg);
}
.keyboard-container .ffwd {
  background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-04_1.svg);
}
.keyboard-container .play-pause {
  background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-05_1.svg);
}
.keyboard-container .mute {
  background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-11.svg);
}
.keyboard-container .lo-vol {
  background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-03_1.svg);
}
.keyboard-container .hi-vol {
  background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-02_1.svg);
}
.keyboard-container .eject {
  background-image: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/8533/apple-icons-01_1.svg);
}
