@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

@keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

.mv-square {
  background: white;
  width: 15px;
  height: 15px;
  float: left;
  top: -10px;
  margin-right: 5px;
  margin-top: 5px;
  position: relative;
  opacity: 0;
  -webkit-animation: enter 6s infinite;
  animation: enter 6s infinite; }

.mv-loader-enter {
  top: 0px;
  opacity: 1; }

.mv-square:nth-child(1) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }

.mv-square:nth-child(2) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s; }

.mv-square:nth-child(3) {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s; }

.mv-square:nth-child(4) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

.mv-square:nth-child(5) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.mv-square:nth-child(6) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.mv-square:nth-child(8) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.mv-square:nth-child(9) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.mv-loader-clear {
  clear: both; }

.mv-loader-last {
  margin-right: 0; }

.fnlabels {
  line-height: 2; }

[label-format] {
  padding: 0.25em 0.35em;
  margin: 0 0.25em;
  line-height: 1;
  display: inline-block;
  border-radius: 0.25em;
  border: 1px solid; }
  [label-format]:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    content: attr(fe-name);
    font-size: 0.6em;
    line-height: 1;
    padding: 0.35em 0.35em;
    border-radius: 0.35em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0.1rem 0.5rem; }
  [label-format][label-format="f1"] {
    background: rgba(166, 226, 45, 0.2);
    border-color: #a6e22d; }
    [label-format][label-format="f1"]:after {
      background: #a6e22d; }
  [label-format][label-format="f2"] {
    background: rgba(253, 151, 32, 0.2);
    border-color: #fd9720; }
    [label-format][label-format="f2"]:after {
      background: #fd9720; }
  [label-format][label-format="f3"] {
    background: rgba(67, 198, 252, 0.2);
    border-color: #43c6fc; }
    [label-format][label-format="f3"]:after {
      background: #43c6fc; }
  [label-format][label-format="f4"] {
    background: rgba(142, 125, 255, 0.2);
    border-color: #8e7dff; }
    [label-format][label-format="f4"]:after {
      background: #8e7dff; }
  [label-format][label-format="f5"] {
    background: rgba(47, 187, 171, 0.2);
    border-color: #2fbbab; }
    [label-format][label-format="f5"]:after {
      background: #2fbbab; }
  [label-format][label-format="f6"] {
    background: rgba(255, 204, 0, 0.2);
    border-color: #ffcc00; }
    [label-format][label-format="f6"]:after {
      background: #ffcc00; }
  [label-format][label-format="f7"] {
    background: rgba(153, 153, 153, 0.2);
    border-color: #999; }
    [label-format][label-format="f7"]:after {
      background: #999; }
  [label-format][label-format="f8"] {
    background: rgba(224, 0, 132, 0.2);
    border-color: #e00084; }
    [label-format][label-format="f8"]:after {
      background: #e00084; }

.mv-loader .color-black {
  background-color: black;
}
.mv-loader .primary-color {
  background-color: #3273dc;
}
#cy {
  width: 800px;
  height: 600px;
  display: block;
}
