@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

@keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }

.mv-square {
  background: white;
  width: 15px;
  height: 15px;
  float: left;
  top: -10px;
  margin-right: 5px;
  margin-top: 5px;
  position: relative;
  opacity: 0;
  -webkit-animation: enter 6s infinite;
  animation: enter 6s infinite; }

.mv-loader-enter {
  top: 0px;
  opacity: 1; }

.mv-square:nth-child(1) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }

.mv-square:nth-child(2) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s; }

.mv-square:nth-child(3) {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s; }

.mv-square:nth-child(4) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

.mv-square:nth-child(5) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.mv-square:nth-child(6) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.mv-square:nth-child(8) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.mv-square:nth-child(9) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.mv-loader-clear {
  clear: both; }

.mv-loader-last {
  margin-right: 0; }

.mv-loader .color-black {
  background-color: black;
}
.mv-loader .primary-color {
  background-color: #3273dc;
}
#cy {
  width: 800px;
  height: 600px;
  display: block;
}
