//- ----------------------------------
//- Based on 💥 DISPLACY ENT
//- ----------------------------------

$labels: (f0: #ff3860, f1: #00d1b2, f2: #ffdd57, f3: #43c6fc, f4: #8e7dff, f5: #fd9720,
f6: #a6e22d, f7: #999);

@for $i from 1 through 20 {
  @if $i % 2 == 0 {
    $labels: map-merge($labels, (f#{7*$i+1}: darken(#00d1b2, 20%)));
    $labels: map-merge($labels, (f#{7*$i+2}: darken(#ffdd57, 20%)));
    $labels: map-merge($labels, (f#{7*$i+3}: darken(#43c6fc, 20%)));
    $labels: map-merge($labels, (f#{7*$i+4}: darken(#8e7dff, 20%)));
    $labels: map-merge($labels, (f#{7*$i+5}: darken(#fd9720, 20%)));
    $labels: map-merge($labels, (f#{7*$i+6}: darken(#a6e22d, 20%)));
    $labels: map-merge($labels, (f#{7*$i+7}: darken(#999, 20%)));
  } else {
    $labels: map-merge($labels, (f#{7*$i+1}: lighten(#00d1b2, 20%)));
    $labels: map-merge($labels, (f#{7*$i+2}: lighten(#ffdd57, 20%)));
    $labels: map-merge($labels, (f#{7*$i+3}: lighten(#43c6fc, 20%)));
    $labels: map-merge($labels, (f#{7*$i+4}: lighten(#8e7dff, 20%)));
    $labels: map-merge($labels, (f#{7*$i+5}: lighten(#fd9720, 20%)));
    $labels: map-merge($labels, (f#{7*$i+6}: lighten(#a6e22d, 20%)));
    $labels: map-merge($labels, (f#{7*$i+7}: lighten(#999, 20%)));
  }
}

.fnlabels {
  line-height: 2;
}

@each $label, $color in $labels {
  [fe-style="#{$label}"] {
    background-color: rgba($color, 0.2);
  }
}

[fename-format] {
  padding: 0.25em 0.35em;
  margin: 0 0.25em;
  line-height: 1;
  display: inline-block;
  border-radius: 0.25em;
  border: 1px solid;

  @each $label, $color in $labels {
    &[fename-format="#{$label}"] {
      background: white;
      border-color: $color;
    }
  }
}

[light-label-format] {
  padding: 0.25em 0.35em;
  margin: 0 0.25em;
  line-height: 1;
  display: inline-block;
  border-radius: 0.25em;
  border: 1px solid;

  &:after {
    box-sizing: border-box;
    content: attr(fe-name);
    font-size: 0.6em;
    line-height: 1;
    padding: 0.35em 0.35em;
    border-radius: 0.35em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0.1rem 0.5rem;
  }

  @each $label, $color in $labels {
    &[light-label-format="#{$label}"] {
      background: rgba($color, 0.2);
      border-color: $color;

      &:after {
        background: $color;
      }

    }
  }
}

[label-format] {
  padding: 0.25em 0.35em;
  margin: 0 0.25em;
  line-height: 1;
  display: inline-block;
  border-radius: 0.25em;
  border: 1px solid;

  &:after {
    box-sizing: border-box;
    content: attr(fe-name);
    font-size: 0.6em;
    line-height: 1;
    padding: 0.35em 0.35em;
    border-radius: 0.35em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0.1rem 0.5rem;
  }

  @each $label, $color in $labels {
    &[label-format="#{$label}"] {
      background: rgba($color, 0.2);
      border-color: $color;

      &:after {
        background: $color;
      }

    }
  }
}
