//- ----------------------------------
//- Based on 💥 DISPLACY ENT
//- ----------------------------------

$labels: (f1: #a6e22d, f2: #fd9720, f3: #43c6fc, f4: #8e7dff, f5: #2fbbab,
f6: #ffcc00, f7: #999, f8: #e00084);

.fnlabels {
  line-height: 2;
}

[label-format] {
  padding: 0.25em 0.35em;
  margin: 0 0.25em;
  line-height: 1;
  display: inline-block;
  border-radius: 0.25em;
  border: 1px solid;

  &:after {
    box-sizing: border-box;
    content: attr(fe-name);
    font-size: 0.6em;
    line-height: 1;
    padding: 0.35em 0.35em;
    border-radius: 0.35em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0.1rem 0.5rem;
  }

  @each $label, $color in $labels {
    &[label-format="#{$label}"] {
      background: rgba($color, 0.2);
      border-color: $color;

      &:after {
        background: $color;
      }

    }
  }
}
