.is-pointer {
    cursor: pointer;
}

.has-no-margin-bottom {
    margin-bottom: 0 !important;
}

.has-small-margin-left {
    margin-left: 1rem;
}

.has-small-margin-right {
    margin-right: 1rem;
}

.valencer-breadcrumb li+li::before {
  color: #4a4a4a;
}

.container {
    margin: 0.5rem;
}

.no-flex-shrink {
    flex-shrink: initial !important;
}
